script
  var host = '#{ host }'
script(src='/socket.io/socket.io.js')
script(src='/javascripts/lib/jquery.min.js')
script(src='/javascripts/lib/underscore.min.js')
script(src='/javascripts/lib/backbone.js')
script(src='/javascripts/lib/socket_handlers.js')

script(src='/javascripts/app.js')
script(src='/javascripts/setup.js')
