script
  var host = '#{ host }'
script(src='/socket.io/socket.io.js')
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/underscore.min.js')
script(src='/javascripts/backbone.js')
script(src='/javascripts/socket_handlers.js')

script(src='/javascripts/app.js')
script(src='/javascripts/setup.js')
